<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div>
        <div id="navmenu">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        &nbsp;
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
</body>
</html>