<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>Компенсация брака: @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

</head>

<body>
    <div>
        <div id="categories">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        &nbsp;
        <div class="container-fluid">
            @RenderBody()
        </div>

        <script src="~/js/mvc-grid/mvc-grid.js"></script>
        <script>
            document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        </script>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js"></script>
</body>
</html>